/*
responsive for header done
			   services done
			   clients done
			   triainers done
			   gallery done
			   contact BIG PROBLEM was because the fixed hight of container in gallery
*/

@media (max-width: 1300px){
	header nav{
		padding: 10px 15px;
	}

	header nav .nav_container .heading a h1,
	header nav .nav_container .links{
		margin-inline: 12px;
	}

	header nav .nav_container .heading a h1{
		font-size: 25px;
	}

	header nav .nav_container .links{
		top: 3px;
	}

	header nav .nav_container .links .links_button{
		display: flex;
	}

	header nav .nav_container .links .links_button:focus + ul{
		display: flex;
		padding: 20px 0;
		height: 325px;
	}

	header nav .nav_container .links ul{
		width: 85%;
		height: 0;
		z-index: 1000;
		background-color: #000;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		position: absolute;
		bottom: -10px;
		left: 50%;
		transform: translate(-50%,100%);
		padding: 0px;
		border-radius: 10px;
		gap: 25px 0;
		overflow: hidden;
		transition-duration: 0.5s;
	}

	header .container{
		width: 95%;
	}

	header .container .content h2{
		font-size: 28px;
		margin-bottom: 8px;
	}

	header .container .content h4{
		font-size: 24px;
		margin-block: 24px;
	}

	header .container .content button{
		font-size: 14px;
		padding: 10px 16px;
	}

	#About{
		padding-block: 1.5rem;
	}

	#About .container{
		width: 93%;
	}

	#About .container .content .part{
		width: 100%;
	}

	#About .container .content .part .item h2{
		font-size: 27px;
	}

	#About .container .content .part .item p:last-child{
		margin-bottom: 1rem;
	}

	#About .container .content .part:last-child .item img{
		max-width: 80%;
	}

	section{
		padding-block: 20px 40px;
	}

	.title h2{
		font-size: 28px;
	}

	#Services .container {
    	width: 99%;
    }

	#Services .container .row1,
	#Services .container .row3{
		flex-direction: column-reverse;/*to make icon start not end in row 1 and 3 and the opposite in row 2*/
	}

	#Services .container .row .part{
		width: 100%;
	}

	#Services .container .row .part{
		width: 100%;
	}

	#Services .container .row .part .item h3{
		font-size: 22px;
	}

	#Services .container .row .part .item i{
		margin-block: 10px 20px;
	}

	#Clients .container {
	    width: 95%;
	    margin: auto;
	}

	#Clients .container .content .box {
    	width: 100%;
    	margin-bottom: 20px;
	}

	#Clients .container .content .box:first-child .item{
		margin-right: 0;
	}

	#Clients .container .content .box:last-child .item{
		margin-left: 0px;
	}

	#Clients .container .content .box .item p{
		padding-inline: 0px;
	}

	#Clients .container .content .box .item h3{
		font-size: 21px;
	}

	#Trainers .container .content .box {
	    width: 100%;
	    margin-bottom: 40px;

	}

	#Trainers .container .content .box .item{
		width: 260px;
		margin: auto;
	}

	#Gallery .container{
		width: 75%;
	}

	#Gallery .container .content{
		height: auto;
		grid-template-columns: repeat(1, 1fr);
		grid-template-rows: repeat(7, 300px);
	}

	#Gallery .container .content .child:nth-of-type(1) {
		grid-row: 1 / 2;
	}

	#Gallery .container .content .child:nth-of-type(4){
		grid-row: 4 / 5;
	}
	
}

@media (min-width: 371px) and (max-width: 1300px){
	header nav .nav_container  .heading a h1{
		font-size: 30px;
		bottom: -1px;
	}

	header nav .nav_container  .links{
		top: 6px;
	}

	header .container{
		width: 80%;
	}

	header .container .content h2{
		font-size: 45px;
	}

	header .container .content h4{
		font-size: 40px;
	}

	header .container .content button{
		font-size: 16px;
		padding: 10px 20px;
	}

	#About .container{
		width: 95%;
	}

	#About .container .content .part .item h2{
		font-size: 29px;
	}

	section{
		padding-block: 26px 40px;
	}

	#Services .container {
    	width: 65.8%;
    }

	.title h2{
		font-size: 30px;
	}

	#Services .container .row .part .item h3{
		font-size: 23px;
	}

	#Services .container .row .part .item p {
    	margin-bottom: 15px;
	}

	#Services .container .row .part .item i{
		margin-block: 10px 26px;
	}

	#Clients .container {
	    width: 75%;
	}

	#Clients .container .content .box .item h3{
		font-size: 22px;
	}

}

@media (min-width: 577px) and (max-width: 1300px){
	header nav .nav_container  .heading a h1 {
        font-size: 40px;
        left: 5px;
        bottom: -5px;
    }

	header nav .nav_container  .links{
		top: 9px;
		right: 5px;
	}

	header .container{
		width: 82%;
	}

	header .container .content .item h2{
		font-size: 45px;
	}

	header .container .content .item h4{
		font-size: 40px;
	}

	#About .container{
        width: 79.5%;
    }

	#About .container .content .part .item h2{
		font-size: 32px;
	}

	#About .container .content .part:last-child .item{
		margin-left: 8px;
	}

	#About .container .content .part:last-child .item img{
		max-width: 98%;
	}

	#Services .container {
    	width: 45.6%;
    }

	.title h2{
		font-size: 33px;
	}

	#Services .container .row .part .item h3{
		font-size: 24px;
	}

	#Services .container .row .part .item i {
        margin-block: 5px 26px;
    }

    section {
        padding-block: 22px 40px;
    }

    #Clients .container {
        width: 50%;
    }

    #Gallery .container{
		width: 65%;
	}

}

@media (min-width: 769px) and (max-width: 1300px){
	#About{
		padding-block: 1.5rem;
	}

	#About .container{
		width: 82%;
	}

	#About .container .content .part{
		width: 50%;
	}

	#About .container .content .part:last-child .item{
		padding-inline: 35px;
	}

	#About .container .content .part .item h2{
		font-size: 35px;
	}

	#About .container .content .part:first-child .item p {
    	padding-right: 12px;
    }

	#About .container .content .part:last-child .item img{
		max-width: 100%;
	}

	#Services .container {
    	width: 81.5%;
    }

    .title h2{
		font-size: 35px;
	}

	#Services .container .row{
		flex-direction: row;
	}

    #Services .container .row1 .part1,
	#Services .container .row3 .part1{
		width: 65%;
	}

	#Services .container .row2 .part2{
		width: 65%;
	}

	#Services .container .row1 .part2,
	#Services .container .row2 .part1,
	#Services .container .row3 .part2{
		width: 33.33%;
	}

	#Services .container .row .part .item h3{
		font-size: 25px;
	}

	#Services .container .row2 .part2{
		margin-left: 10px;
	}

	#Services .container .row1 .part2 .item,
	#Services .container .row3 .part2 .item{
		margin-left: 30px;
	}

	#Services .container .row2 .part1 .item{
		margin-right: 20px;
	}

	#Clients .container{
		width: 80%;
	}

	#Clients .container .content .box {
		width: 50%;
	}

	#Clients .container .content .box:first-child .item{
		margin-right: 6px;
	}

	#Clients .container .content .box:last-child .item{
		margin-left: 6px;
	}

	#Clients .container .content .box .item h3{
		font-size: 23px;
	}

	#Trainers .container .content .box{
		width: 50%;
	}

	#Gallery .container{
		width: 80%;
	}

	#Gallery .container .content{
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: repeat(3, 300px);
	}

	#Gallery .container .content .child:nth-of-type(1){
		grid-row: 1 / 3;
	}

	#Gallery .container .content .child:nth-of-type(4){
		grid-row: 2 / 4;
	}


}

@media (min-width: 992px) and (max-width: 1300px){
	header nav .nav_container  .links{
		width: fit-content;
		height: 100%;
		margin-inline: 0px;
	}

	header nav .nav_container  .links .links_button{
		display: none;
	}
	
	header nav .nav_container  .links ul {
		list-style: none;
		background-color: transparent;
		display: flex;
		align-items: center;
		column-gap: 15px;
		width: 100%;
		height: 100%;
		flex-direction: row;
		position: initial;
		transform: none;
		border-radius: 0px;
		padding-bottom: 5px;
		padding-right: 20px;
	}

	header .container{
		width: 89%;
	}

	#About{
		padding-block: 3rem;
	}

	#About .container{
		width: 89%;
	}

	#About .container .content .part .item h2{
		font-size: 38px;
	}

	#About .container .content .part:last-child .item{
		padding-inline: 47px;
	}

	#Services .container {
    	width: 88.7%;
    }

    .title h2{
		font-size: 38px;
	}

	#Services .container .row{
		margin-bottom: 5px;
	}

	#Services .container .row .part .item h3{
		font-size: 26.5px;
	}

	#Services .container .row .part .item i {
        margin-block: 25px 26px;
        margin-left: 10px;
    }

    section {
        padding-block: 48px;
    }

    #Clients .container {
        width: 86%;
    }

    #Clients .container .content .box:first-child .item{
		margin-right: 10px;
	}

	#Clients .container .content .box:last-child .item{
		margin-left: 10px;
	}

	#Clients .container .content .box .item p {
        padding-inline: 45px;
    }

    #Trainers .container{
    	width: 92%;
    }

    #Trainers .container .content .box {
		width: 25%;
		margin-bottom: 0;
	}

	#Trainers .container .content .box .item{
		width: initial;
		margin: 0;/*to remove the margin auto*/
		margin-inline: 11px;
	}

	#Gallery .container {
        width: 90%;
    }

}

@media (min-width: 1181px) and (max-width: 1300px){
	#About .container{
		width: 89.3%;
	}

	#About .container .content .part .item h2{
		font-size: 40px;
	}

	#Services .container {
        width: 89%;
    }

	.title h2{
		font-size: 40px;
	}

	#Services .container .row .part .item h3{
		font-size: 27.5px;
	}

	#Clients .container{
		width: 85%;
	}

	#Clients .container .content .box:first-child .item{
		margin-right: 20px;
	}

	#Clients .container .content .box:last-child .item{
		margin-left: 20px;
	}

	#Trainers .container{
    	width: 91%;
    }

    #Trainers .container .content .box .item{
		margin-inline: 12px;
	}
}
